# Python
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# Environment files
.env

# OS / editor
.DS_Store
.vscode/
.idea/

# Tests & docs 
tests/
docs/

# Docker artifacts
Dockerfile
docker-compose.yml

# README
README.md
